* {
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
    background: rgb(74,45,253);
background: linear-gradient(0deg, rgba(74,45,253,1) 19%, rgba(0,0,0,1) 130%);
color: white;
margin-bottom: 10px;

}

.test {
  
    margin-left: 10px;
    margin-right: 10px;
}

hr {
    margin: 0;
    margin-bottom: 20px;
}

li {
    list-style-type: none;
}

.button-primary {
    padding: 0;
}

.city {
    border: 1px solid black;
    padding-left: 10px;
}

.forcast {
    border: 1px solid black;
    padding-left: 5px;
}