* {
  font-family: "Roboto", sans-serif;
}

.title {
  background: rgb(74, 45, 253);
  background: linear-gradient(
    0deg,
    rgba(74, 45, 253, 1) 19%,
    rgba(0, 0, 0, 1) 130%
  );
  color: white;
  margin-bottom: 10px;
  padding: 10px;
}

#currentWeather {
  padding: 5px;
}

#currentUv {
  padding: 3px;
}

.low {
  background: green;
  color: white;
}

.med {
  background: goldenrod;
  color: white;
}

.hi {
  background: red;
  color: white;
}

.fiveDay {
  margin-top: 10px;
  margin-bottom: 10px;
}

#smallerText > div {
  font-size: 12px;
}
